
#product{
	padding:0 15px;
	margin-top:20px;}

#product-head, #product-body, #comment, #comments-list{
	background: #FFF;
	border-radius:10px solid #FFCC00;
	padding:10px 0;
}

#product-img{
	text-align:center;}	
#product-details h1, #product-body h3, #comment h3{
	font-size:24px;
	font-weight:bold;}	
#product-details ul li{
	list-style:none;
	height:30px;
	line-height:30px;
	font-size: 16px;}
	
#product-details ul li span{
	font-weight:bold;
	font-size: 16px;}		
#price-number{
	font-size:20px;
	font-weight:bold;
	color:#eb1f27;
    border-bottom:1px dashed #333333;
    margin-bottom:10px;
}	
#price{
	border-top:1px dashed #333333;
	margin-top:10px;}
#status{
	font-weight:bold;}		
#product-body, #comment, #comments-list{
	margin-top:10px;}	
#product-body h3{
	margin-bottom:20px;}		
#add-cart a:hover{
	color:#EB1F27;
	background:#FFF;}	
#add-cart a{
	display:inline-table;
	border-radius:3px;
	border:1px solid #EB1F27;
	background:#EB1F27;
	padding:15px 20px;
	color:#FFF;
	text-decoration:none;}
#comment button{
	background:#FFCC00;
	border:none;
	color: #333333;
	border:1px solid #FFCC00;}
#comment button:hover{
	background:#FFF;
	border:none;
	color:#FFCC00 ;
	border:1px solid #FFCC00;}
.comment-item ul li{
	list-style:none;}	
.comment-item ul li:last-child{
	padding:15px 0 5px 0;
	border-bottom:1px dashed #333;}
.comment-item:last-child ul li:last-child{
	border:none;}
#pagination ul{
	float:right;
	margin-top:20px;}
#pagination ul li a.page-link{
	color:#333333;}			
#pagination ul li a.page-link:hover{
	background:#FFCC00;
	color:#333;}
#pagination ul li.active a{
	background:#FFCC00;
	border-color:#dee2e6;
	color:#333;}

#pagination{
	margin-bottom: 75px;
}
